html,
body {
    font-size: 20px;
    line-height: 1.4rem;
    font-family: "Amazon Ember", sans-serif;
}

body {
    color: #000;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}

p {
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 2rem;
}

strong {
    font-weight: 700;
}

#wList div {
    box-sizing: border-box;
    padding: 1rem 1rem 0 0;
    width: 300px;
}
